<%= content_for :main do %>
  <div class='listen'>
    <% @songs.each do |song| %>
      <div class='section section__video' id=<%= song.anchor %>>
        <iframe width="560" height="315" src=<%= song.youtube_url %> frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
<% end %>

