<div class='container'>
  <div class='text'>
    Site designed and developed by Ollie Haydon-Mulligan
  </div>
  <div class='logo'>
    <%= link_to 'http://github.com/ollieh-m/ohm' do %>
      <%= image_tag 'github-white.png' %>
    <% end %>
  </div>
</div>
