<%= content_for :main do %>

  <div class='about'>
    <div class='section section__who' id='band'>
      <h1>These Walls are...</h1>
      <p><b>Ollie Haydon-Mulligan</b> on drums, guitar and vocals, with <b>Dave Bruce</b> on keys and sax, and <b>Paul Veal</b> on bass.</p>
      <p>Ollie lives in Bristol with his beautiful wife (Laura) and whippet (Mabel). He wrote these songs over the last few years about falling in love, being in love, leaving his job, and his dad turning 80.</p>
      <p>He has some more songs - about Mabel, and his first child, due in June - that he'd love to record sometime soon.</p>
    </div>

    <div class='section section__words' id='lyrics'>
      <ul>
        <% about_page.songs.each do |song| %>
          <li>
            <h3 class='name'><%= song.name %><span class='arrows'> <<</span></h2>
            <div class='words'>
              <%= simple_format(song.words) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>

