.about {

  .section {

    &__who {
      color: $dark-colour;
    }

    &__words {
      background-color: $dark-colour;
      padding: 0 10px;

      p, h3 {
        margin: 0;
        padding: 8px 0;
      }

      p {
        color: $accent-three;
      }

      h3 {
        color: $accent-one;

        &.showing {
          color: $accent-three
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .words {
          display: none;
        }
      }


    }
  }

}
