.contact {

  .form__field {
    display: none;
    background-color: $dark-colour;
    padding: 10px;
    min-height: 50px;
    color: white;

    .assistance {
      display: none;
    }
    .blinking-line {
      display: inline;
    }

    .response-area {
      display: none;
      textarea {
        width: 93%;
        height: 150px;
        border: none;
        color: $dark-colour;
        margin-top: 10px;
        font-size: 12px;
      }
    }
  }

  input, #width_calc {
    font-size: 20px;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
  }

  #width_calc {
    display: none;
  }

  #help-hover {
    display: none;
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 10px;
    color: red;
  }

}
