html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
}

main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 75%;
}

nav {
  min-height: 12%;
  width: 100%;
  background-color: $dark-colour;
}

aside {
  order: 1;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 1 auto;
  background-color: $accent-one;
}

section {
  order: 2;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 4 auto;
  background-color: $light-colour;
}

footer {
  height: 10%;
  width: 100%;
  background-color: $dark-colour;
}

@media all and (max-width: 500px) {
  aside {
    order: 2;
    flex: 100%;
  }
  section {
    order: 1;
    flex: 100%;
  }
}
