body {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
}

nav {
  order: 1;
  flex: 100%;
  background-color: red;
}

aside {
  order: 2;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 1 auto;
  background-color: blue;
}

section {
  order: 3;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 4 auto;
  background-color: yellow;
}

footer {
  order: 4;
  flex: 100%;
  background-color: red;
}

@media all and (max-width: 500px) {
  aside {
    order: 3;
    flex: 100%;
  }
  section {
    order: 2;
    flex: 100%;
  }
}
