html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font;
}

main {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 80%;

  background: image-url('lens.png') no-repeat center center fixed, image-url('tint.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  min-height: 15%;
  width: 100%;
  background-color: $dark-colour;
}

aside {
  order: 2;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 1 0 20%;
  background-color: transparent;
  // in order to position elements within aside using absolute
  position: relative;
}

section {
  order: 1;
  // replace 100% width with auto based on a flex ratio
  // share the width with other elements that can fit
  // alternatively set widths that allow other elements to fit (30% to 68%, for example), with flex that fills remaining space evenly
  flex: 1 0 78%;
  padding-right: 40%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: transparent;
}

footer {
  min-height: 5%;
  width: 100%;
  background-color: $dark-colour;
}

@media all and (max-width: 900px) {
  section {
    padding-right: 35%;
  }
}

@media all and (max-width: 700px) {
  section {
    padding-right: 30%;
  }
}

@media all and (max-width: 500px) {
  aside {
    order: 2;
    flex: 100%;
  }
  section {
    order: 1;
    flex: 100%;
    padding-right: 25%;
  }
}

@media all and (max-width: 340px) {
  section {
    padding-right: 10px;
  }
}
