$light-colour: #376996;
$dark-colour: #1D3461;
$accent-one: #6290C8;
$accent-two: #829CBC;
$accent-three: #ffff00;
$font: 'Droid Sans', sans-serif;

@import 'layout';
@import 'nav';
@import 'destination';
@import 'about';
@import 'contact';
@import 'navtree';
@import 'footer';
@import 'listen';

input:focus, textarea:focus {outline:0;}
textarea {
  resize: none;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

