nav div {
  #assistance {
    display: none;
  }
  #nav_to {
    display: none;
  }
  #blinking-line {
    display: inline;
  }
}

.nav {
  &__header {
    padding: 10px;
  }

  &__form {
    padding: 10px;
  }
}
