<div>
  <div class='nav__header'>
    <h2 id='assistance'>
      Here you can <%= destination_purpose %>. Want to be somewhere else? Find out more // listen // get in touch?
    </h2>
    <h2 id='blinking-line'></h2>
  </div>

  <div class='nav__form'>
    <%= form_for :nav, url: nav_path do |f| %>
      <%= f.text_field(:to) %>
    <% end %>
  </div>
</div>
