<div class='nav'>
  <div class='nav__header'>
    <h2 class='nav__header__assistance'>
      Here you can <%= destination_purpose %>. Want to be somewhere else? Find out more // listen // get in touch?    </h2>
    <h2 class='nav__header__blinking-line'></h2>
  </div>

  <div class='nav__form'>
    <%= form_for :nav, url: nav_path do |f| %>
      <div class='nav__form_response-area'>
        <%= f.text_field(:to) %>
        <span id='nav_to_width_calc'></span>
        <%= f.label(:to, '<<') %>

        <div id='help-hover'>
          [Type where you want to go to the left of the arrows and hit enter. Easy peasy]
        </div>
      </div>
    <% end %>
  </div>

</div>

