<div class='nav'>
  <div class='nav__header'>
    <h2 class='nav__header__assistance'>
      Hey. Welcome to These Walls. What do you want to do? Find out more // listen // get in touch?
    </h2>
    <h2 class='nav__header__blinking-line'></h2>
  </div>

  <div class='nav__form'>
    <%= form_for :nav, url: nav_path do |f| %>
      <div class='nav__form_response-area'>
        <%= f.text_field(:to) %>
        <%= f.label(:to, '<<') %>
      </div>
    <% end %>
  </div>
</div>
